/* Import the Press Start 2P font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Define the Hiragino Kaku Gothic Std font */
@font-face {
  font-family: 'Hiragino Kaku Gothic Std';
  src: url('fonts/HiraginoKakuGothicStd.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

/* Reset some default styles to ensure no unexpected margins or paddings */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden; /* Prevent scrolling */
  height: 100vh; /* Set the body height to the viewport height */
  font-family: 'Press Start 2P', cursive; /* Apply the Press Start 2P font */
}


.App-header {
  height: 100vh; /* Set the header height to the viewport height */
  overflow: hidden; /* Prevent scrolling */
}

h1 {
  font-family: 'Hiragino Kaku Gothic Std', sans-serif; /* Apply the Hiragino Kaku Gothic Std font */
}

.App {
  text-align: center;
  position: relative; /* Ensure the App has a relative position */
}

.App-logo-container {
  background-color: #ffffff; /* Set your desired background color */
  display: inline-block; /* Make the container fit the image */
}

.App-logo {
  height: 65vmin; /* Adjusted size to make the logo bigger */
  pointer-events: none;
  display: block;
}

.App-header {
  position: relative;
  background: linear-gradient(to right, #00747B, #9E00FF);
  background: linear-gradient(to right, #00747B 0%, #2B5098 25%, #8A2BE2 75%, #9E00FF 100%);
  min-height: 100vh; /* Make sure the header covers the entire view height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.App-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./images/collage1.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.05; /* Set the desired opacity */
  z-index: 0; /* Ensure it is behind the text */
}

.App-header .letter,
.App-header .Header1,
.App-header .Header2 {
  position: relative;
  z-index: 1; /* Ensure text is above the background image */
}

.Image-container {
  display: none; /* Remove this as the background is now handled by the pseudo-element */
}

.App-link {
  color: #61dafb;
}

.letter-container {
  position: relative; /* Make sure container is relative */
  width: 100%;
  height: 100px; /* Adjust as needed */
}

.letter {
  font-size: 190px;
  color: rgb(255, 255, 255);
  position: absolute; /* Absolute positioning */
}

.Y {
  color: #ffffff; /* Set the text color */
  top: 313px;
  left: -90px;
  right: 50px;
  transform: rotate(-15deg);
}

.O1 {
  color: #ffffff; /* Set the text color */
  font-size: 190px;
  top: 12.5%;
  left: 80px;
}

.O2 {
  color: #ffffff; /* Set the text color */
  font-size: 150px;
  top: 115px;
  left: -75px;
  transform: rotate(10deg);
}

.Z {
  color: #ffffff; /* Set the text color */
  font-size: 175px;
  top: -60px;
  left: 80px;
}

.Header1 {
  font-family: 'Hiragino Kaku Gothic Std', sans-serif;
  font-size: 38px; /* Adjust the size as needed */
  color: #ffffff; /* Set the text color */
  padding: 20px; /* Add some padding */
  text-align: center; /* Center the text */
  margin: 20px auto; /* Center the container and add some margin */
  width: fit-content; /* Adjust the width to fit the content */
  border-radius: 8px; /* Add rounded corners */
  position: absolute; /* Use absolute positioning */
  top: -530px; /* Adjust the top position as needed */
  left: 10%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center the element */
}

.Header2 {
  font-family: 'Hiragino Kaku Gothic Std', sans-serif;
  font-size: 38px; /* Adjust the size as needed */
  color: #ffffff; /* Set the text color */
  padding: 20px; /* Add some padding */
  text-align: center; /* Center the text */
  margin: 20px auto; /* Center the container and add some margin */
  width: fit-content; /* Adjust the width to fit the content */
  border-radius: 8px; /* Add rounded corners */
  position: absolute; /* Use absolute positioning */
  top: -622.5px; /* Adjust the top position as needed */
  left: 210px; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center the element */
}

.ConnectWithContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  width: 1000%; /* Adjust this value to control overall width */
}

.ConnectWith {
  font-size: 25px;
  color: #ffffff;
  padding: 0 20px;
  white-space: nowrap;
}

.leftLine, .rightLine {
  height: 2px;
  background-color: #ffffff;
  border: none;
  width: 40%; /* Adjust this value to control line length */
}

.leftLine {
  margin-right: 15px;
}

.rightLine {
  margin-left: 15px;
}
