@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset some default styles to ensure no unexpected margins or paddings */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Press Start 2P', cursive; /* Apply the Press Start 2P font */
}

.App {
  text-align: center;
  position: relative; /* Ensure the App has a relative position */
}

.App-logo-container {
  background-color: #ffffff; /* Set your desired background color */
  display: inline-block; /* Make the container fit the image */
}

.App-logo {
  height: 65vmin; /* Adjusted size to make the logo bigger */
  pointer-events: none;
  display: block;
}

.App-header {
  background: linear-gradient(to right, #00747B, #9E00FF);
  min-height: 100vh; /* Make sure the header covers the entire view height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.Image-container {
  position: absolute; /* Absolute positioning within the App */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-image {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 0.05;
  margin: 20px auto;
}

.letter-container {
  position: relative; /* Make sure container is relative */
  width: 100%;
  height: 100px; /* Adjust as needed */
}

.letter {
  font-size: 100px;
  color: white;
  position: absolute; /* Absolute positioning */
}

.Y {
  top: 60px;
  left: 20px;
}

.O1 {
  top: 20px;
  left: 80px;
}

.O2 {
  top: 30px;
  left: 140px;
}

.Z {
  top: 40px;
  left: 200px;
}
